* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Sofia", sans-serif;
    Margin: 30px, auto;
    padding: 20px;
    background-color: #eeebeb; /* Fallback color */
    background-image: url(scotland.jpg); /* Set the background image */
    background-size: cover; /* Ensures the background covers the entire area */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the background from repeating */
   line-height: 1.6;
   list-style-image: none;
     max-width: 800px;
    text-align: center;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(235, 238, 235, 0.9); /* Slightly transparent background for readability */
    box-shadow: 0 0 10px rgba(190, 196, 176, 0.1);
    border-radius: 8px;
}
#poem{
    background-color: #eeebeb;
    margin: 30px 0;
   text-align: center;
    box-sizing: border-box;
   font-family: "Sofia";
    font-size: medium;
}
.responsive-img {
    max-width: 50%; /* Set max-width to 50% or any other desired percentage */
    height: auto;     /* Maintains the aspect ratio */
    display: block;   /* Removes any inline spacing (like beneath an inline image) */
    margin: 0 auto;   /* Centers the image if it's a block-level element */
}
#main {
    background-color: #eeebeb;
    margin: 30px 0;
    font-weight: 300;
    text-align: center;
    box-sizing: border-box;
    font-size: medium;
}

header {
    text-align: center;
    margin: 30px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

footer {
    font-family: 'Arial', sans-serif;
    background-color: lightgrey;
  }

a:link {
    color: #blue
}

a:visited {
    color: #797777

#other-works{
    box-sizing: border-box;
}
